In [2]:
import pandas as pd
data = pd.read_csv("Loan_approval_data_2025.csv")
data.info()
data.head(10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 20 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   customer_id              50000 non-null  object
 1   age                      50000 non-null  int64
 2   occupation_status        50000 non-null  object
 3   years_employed           50000 non-null  float64
 4   annual_income            50000 non-null  int64
 5   credit_score             50000 non-null  int64
 6   credit_history_years     50000 non-null  float64
 7   savings_assets           50000 non-null  int64
 8   current_debt             50000 non-null  int64
 9   defaults_on_file         50000 non-null  int64
 10  delinquencies_last_2yrs  50000 non-null  int64
 11  derogatory_marks         50000 non-null  int64
 12  product_type             50000 non-null  object
 13  loan_intent              50000 non-null  object
 14  loan_amount              50000 non-null  int64
 15  interest_rate            50000 non-null  float64
 16  debt_to_income_ratio     50000 non-null  float64
 17  loan_to_income_ratio     50000 non-null  float64
 18  payment_to_income_ratio  50000 non-null  float64
 19  loan_status              50000 non-null  int64
dtypes: float64(6), int64(10), object(4)
memory usage: 7.6+ MB

,customer_id,age,occupation_status,years_employed,annual_income,credit_score,credit_history_years,savings_assets,current_debt,defaults_on_file,delinquencies_last_2yrs,derogatory_marks,product_type,loan_intent,loan_amount,interest_rate,debt_to_income_ratio,loan_to_income_ratio,payment_to_income_ratio,loan_status
0,CUST100000,40,Employed,17.2,25579,692,5.3,895,10820,0,0,0,Credit Card,Business,600,17.02,0.423,0.023,0.008,1
1,CUST100001,33,Employed,7.3,43087,627,3.5,169,16550,0,1,0,Personal Loan,Home Improvement,53300,14.10,0.384,1.237,0.412,0
2,CUST100002,42,Student,1.1,20840,689,8.4,17,7852,0,0,0,Credit Card,Debt Consolidation,2100,18.33,0.377,0.101,0.034,1
3,CUST100003,53,Student,0.5,29147,692,9.8,1480,11603,0,1,0,Credit Card,Business,2900,18.74,0.398,0.099,0.033,1
4,CUST100004,32,Employed,12.5,63657,630,7.2,209,12424,0,0,0,Personal Loan,Education,99600,13.92,0.195,1.565,0.522,1
5,CUST100005,32,Employed,13.4,32015,570,7.3,253,1120,0,0,2,Credit Card,Personal,37000,22.92,0.035,1.156,0.385,0
6,CUST100006,53,Employed,22.9,44989,674,11.1,19667,19298,0,0,0,Personal Loan,Home Improvement,45600,11.02,0.429,1.014,0.338,1
7,CUST100007,44,Self-Employed,4.2,80603,625,18.5,830,38382,0,0,0,Credit Card,Personal,51700,19.42,0.476,0.641,0.214,1
8,CUST100008,29,Employed,5.9,28416,569,2.6,1334,22668,1,2,0,Credit Card,Education,33800,22.72,0.798,1.189,0.396,0
9,CUST100009,41,Employed,7.0,70717,638,21.5,1578,21394,0,1,0,Credit Card,Personal,70000,19.35,0.303,0.990,0.330,1

In [3]:
# credit_score
# defaults_on_file
# delinquencies_last_2yrs
# derogatory_marks
# annual_income
# current_debt
# debt_to_income_ratio
# loan_amount
# interest_rate
# credit_history_years

In [4]:
newdata = data[["credit_score","defaults_on_file","delinquencies_last_2yrs","derogatory_marks","annual_income","current_debt","debt_to_income_ratio","loan_amount","interest_rate","credit_history_years","loan_status"]]
newdata.head()
pd.isnull(newdata).sum()
newdata.drop(columns=["defaults_on_file"],inplace=True)
newdata

C:\Users\hp\AppData\Local\Temp\ipykernel_6436\2345628973.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  newdata.drop(columns=["defaults_on_file"],inplace=True)

,credit_score,delinquencies_last_2yrs,derogatory_marks,annual_income,current_debt,debt_to_income_ratio,loan_amount,interest_rate,credit_history_years,loan_status
0,692,0,0,25579,10820,0.423,600,17.02,5.3,1
1,627,1,0,43087,16550,0.384,53300,14.10,3.5,0
2,689,0,0,20840,7852,0.377,2100,18.33,8.4,1
3,692,1,0,29147,11603,0.398,2900,18.74,9.8,1
4,630,0,0,63657,12424,0.195,99600,13.92,7.2,1
...,...,...,...,...,...,...,...,...,...,...
49995,570,0,0,39449,7576,0.192,42800,21.31,16.3,0
49996,672,0,0,20496,6276,0.306,3800,18.07,12.6,0
49997,719,0,0,18743,10331,0.551,18000,17.45,10.1,0
49998,633,0,1,17250,7779,0.451,1400,14.71,1.3,0
49999,695,1,0,46923,2655,0.057,41000,12.39,15.0,1

In [5]:
from sklearn.model_selection import train_test_split

Inputx = newdata[["credit_score","delinquencies_last_2yrs","derogatory_marks","annual_income","current_debt","debt_to_income_ratio","loan_amount","interest_rate","credit_history_years"]]
outputy = newdata["loan_status"]

x_train,x_test,y_train,y_test = train_test_split(Inputx,outputy,test_size=0.2,random_state=42)

x_test.shape,x_train.shape

((10000, 9), (40000, 9))

In [6]:
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression

scaler = StandardScaler()
scaledXtrain= scaler.fit_transform(x_train)
scaledXtest = scaler.transform(x_test)

mmodel = LogisticRegression()
mmodel.fit(scaledXtrain,y_train)

Input = [[627,1,0,43087,6550,0.384,53300,14.10,3.5]]
inscaler = scaler.transform(Input)
mmodel.score(scaledXtest,y_test)
pre = mmodel.predict(inscaler)

if pre == 1:
    print("===============")
    print("===============")
    print("appreoved")
    print("===============")
    print("===============")
else:
    print("not approved")

c:\Python313\Lib\site-packages\sklearn\utils\validation.py:2749: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(

not approved